
.edit_form{
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 384px;
    height: 498px;
    background-color: white;
    margin-top: 59px;
    box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.5);

}
